<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>武汉加油</title>
		<link rel="shortcut icon" href="image/logo-bmw.svg" type="images/x-icon">
		<link rel="stylesheet" href="style/element.css">
		<link rel="stylesheet" href="style/whc-common.css">
		<script type="text/javascript" src="script/vue.js"></script>
	    <script type="text/javascript" src="script/vue-router.js"></script>
	    <script type="text/javascript" src="script/jquery.min.js"></script>
		<script type="text/javascript" src="script/element.js"></script>
		<script type="text/javascript" src="script/utils-date-format.js"></script>
	</head>
	<body>
		<div id="app">
			<el-row>
				<el-col :span="8" class="whc-col-logo"><img class="local-login-img" src="image/logo-bmw.svg"/></el-col>
				<el-col :span="8" class="whc-col-title">管理系统</el-col>
				<el-col :span="8" class="whc-col-version">v1.0.1</el-col>
			</el-row>
			<el-tabs type="card" v-model="activeName" @tab-click="tabMethodClick">
				<el-tab-pane name="show"><span slot="label"><i class="el-icon-magic-stick"></i>系统展示</span></el-tab-pane>
				<el-tab-pane name="game"><span slot="label"><i class="el-icon-present"></i>鼠标管理</span></el-tab-pane>
				<el-tab-pane name="global"><span slot="label"><i class="el-icon-setting"></i>全局设置</span></el-tab-pane>
				<el-tab-pane name="help"><span slot="label"><i class="el-icon-help"></i>使用帮助</span></el-tab-pane>
			</el-tabs>
			<router-view></router-view>
		</div>
		
		<template id="templateShow">
			<div id="divShow">
				<div class="wuhan-col-right"><el-button type="pink" size="mini" icon="el-icon-document-checked" @click="showMethodGrant">授权按钮</el-button></div>
				<el-table id="logsTable" :data="logs" ref="logsTable" border stripe highlight-current-row size="mini">
					<el-table-column prop="length" label="序号" type="index" width="60"></el-table-column>
					<el-table-column prop="msg" label="操作内容" show-overflow-tooltip/>
				</el-table>
				<div id ="divShowFoot" style="margin: 80px 0px 0px 0px;"></div><!-- {{what}} -->
			</div>		
		</template>
		<script type="text/javascript" src="script/whcdit-show.js"></script>
		
		<template id="templateGame">
			<div id="divGame">
				{{what}}
			</div>		
		</template>
		
		<template id="templateGlobal">
			<div id="divGlobal">
		      <el-form :model="parameter" label-width="100px" size="mini">
		        <el-row>
		          <el-col :span="24"><el-form-item label="程序标题"><el-input v-model="parameter.name"></el-input></el-form-item></el-col>
		        </el-row>
		        <el-row>
		          <el-col :span="12"><el-form-item label="程序界面宽度"><el-input v-model="parameter.width"><template slot="append">px</template></el-input></el-form-item></el-col>
		          <el-col :span="12"><el-form-item label="程序界面高度"><el-input v-model="parameter.height"><template slot="append">px</template></el-input></el-form-item></el-col>
		        </el-row>
		        <el-row>
		          <el-col :span="24" class="wuhan-col-right"><el-form-item><el-button type="pink" icon="el-icon-document-checked" @click="globMethodSave">保存程序设置</el-button></el-form-item></el-col>
		        </el-row>
		        <el-row>
		          <el-col :span="12"><el-form-item label="X轴起始坐标"><el-input v-model="parameter.mousex"><template slot="append">px</template></el-input></el-form-item></el-col>
		          <el-col :span="12"><el-form-item label="Y轴起始坐标"><el-input v-model="parameter.mousey"><template slot="append">px</template></el-input></el-form-item></el-col>
		        </el-row>
		        <el-row>
		          <el-col :span="12"><el-form-item label="X轴移动步长"><el-input v-model="parameter.stepx"><template slot="append">px</template></el-input></el-form-item></el-col>
		          <el-col :span="12"><el-form-item label="Y轴移动步长"><el-input v-model="parameter.stepy"><template slot="append">px</template></el-input></el-form-item></el-col>
		        </el-row>
		        <el-row>
		        <el-row>
		          <el-col :span="12"><el-form-item label="X轴移动次数"><el-input v-model="parameter.movex"><template slot="append">次</template></el-input></el-form-item></el-col>
		          <el-col :span="12"><el-form-item label="Y轴移动次数"><el-input v-model="parameter.movey"><template slot="append">次</template></el-input></el-form-item></el-col>
		        </el-row>
		        <el-row>
		          <el-col :span="24"><el-form-item label="鼠标选键"><el-radio-group v-model="parameter.wkey"><el-radio label="LEFT" border>左键</el-radio><el-radio label="RIGHT" border>右键</el-radio></el-radio-group></el-form-item></el-col>
		        </el-row>
		        <el-row>
		          <el-col :span="12"><el-form-item label="循环操作次数"><el-input v-model="parameter.loops"><template slot="append">次</template></el-input></el-form-item></el-col>
		          <el-col :span="12"><el-form-item label="移动间隔时间"><el-input v-model="parameter.secs"><template slot="append">秒</template></el-input></el-form-item></el-col>
		        </el-row>
		        <el-row>
		          <el-col :span="24" class="wuhan-col-right"><el-form-item><el-button type="pink" icon="el-icon-document-checked" @click="globMethodSave">保存鼠标设置</el-button></el-form-item></el-col>
		        </el-row>
		      </el-form>
				<!-- {{what}} -->
			</div>		
		</template>
		
		<template id="templateHelp">
			<div id="divHelp">
			Help
			</div>		
		</template>
		
		<!-- 主js文件最后引入 -->
		<script type="text/javascript" src="script/whcdit-main.js"></script>
	</body>
</html>