<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whcdit.family.mapper.SystemRoleRelationMapper">
  <resultMap id="BaseResultMap" type="com.whcdit.family.model.SystemRoleRelation">
    <id column="relation_id" jdbcType="INTEGER" property="relationId" />
    <result column="system_role_id" jdbcType="INTEGER" property="systemRoleId" />
    <result column="system_menu_id" jdbcType="INTEGER" property="systemMenuId" />
    <result column="first_create_by" jdbcType="INTEGER" property="firstCreateBy" />
    <result column="first_create_date" jdbcType="TIMESTAMP" property="firstCreateDate" />
    <result column="data_status" jdbcType="VARCHAR" property="dataStatus" />
    <result column="data_divide_id" jdbcType="INTEGER" property="dataDivideId" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="last_update_by" jdbcType="INTEGER" property="lastUpdateBy" />
    <result column="last_update_date" jdbcType="TIMESTAMP" property="lastUpdateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    relation_id, system_role_id, system_menu_id, first_create_by, first_create_date, 
    data_status, data_divide_id, description, last_update_by, last_update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from system_role_relation
    where relation_id = #{relationId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from system_role_relation
    where relation_id = #{relationId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="relation_id" keyProperty="relationId" parameterType="com.whcdit.family.model.SystemRoleRelation" useGeneratedKeys="true">
    insert into system_role_relation (system_role_id, system_menu_id, first_create_by, 
      first_create_date, data_status, data_divide_id, 
      description, last_update_by, last_update_date
      )
    values (#{systemRoleId,jdbcType=INTEGER}, #{systemMenuId,jdbcType=INTEGER}, #{firstCreateBy,jdbcType=INTEGER}, 
      #{firstCreateDate,jdbcType=TIMESTAMP}, #{dataStatus,jdbcType=VARCHAR}, #{dataDivideId,jdbcType=INTEGER}, 
      #{description,jdbcType=VARCHAR}, #{lastUpdateBy,jdbcType=INTEGER}, #{lastUpdateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="relation_id" keyProperty="relationId" parameterType="com.whcdit.family.model.SystemRoleRelation" useGeneratedKeys="true">
    insert into system_role_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="systemRoleId != null">
        system_role_id,
      </if>
      <if test="systemMenuId != null">
        system_menu_id,
      </if>
      <if test="firstCreateBy != null">
        first_create_by,
      </if>
      <if test="firstCreateDate != null">
        first_create_date,
      </if>
      <if test="dataStatus != null">
        data_status,
      </if>
      <if test="dataDivideId != null">
        data_divide_id,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="lastUpdateBy != null">
        last_update_by,
      </if>
      <if test="lastUpdateDate != null">
        last_update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="systemRoleId != null">
        #{systemRoleId,jdbcType=INTEGER},
      </if>
      <if test="systemMenuId != null">
        #{systemMenuId,jdbcType=INTEGER},
      </if>
      <if test="firstCreateBy != null">
        #{firstCreateBy,jdbcType=INTEGER},
      </if>
      <if test="firstCreateDate != null">
        #{firstCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dataStatus != null">
        #{dataStatus,jdbcType=VARCHAR},
      </if>
      <if test="dataDivideId != null">
        #{dataDivideId,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy,jdbcType=INTEGER},
      </if>
      <if test="lastUpdateDate != null">
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.whcdit.family.model.SystemRoleRelation">
    update system_role_relation
    <set>
      <if test="systemRoleId != null">
        system_role_id = #{systemRoleId,jdbcType=INTEGER},
      </if>
      <if test="systemMenuId != null">
        system_menu_id = #{systemMenuId,jdbcType=INTEGER},
      </if>
      <if test="firstCreateBy != null">
        first_create_by = #{firstCreateBy,jdbcType=INTEGER},
      </if>
      <if test="firstCreateDate != null">
        first_create_date = #{firstCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dataStatus != null">
        data_status = #{dataStatus,jdbcType=VARCHAR},
      </if>
      <if test="dataDivideId != null">
        data_divide_id = #{dataDivideId,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateBy != null">
        last_update_by = #{lastUpdateBy,jdbcType=INTEGER},
      </if>
      <if test="lastUpdateDate != null">
        last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where relation_id = #{relationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whcdit.family.model.SystemRoleRelation">
    update system_role_relation
    set system_role_id = #{systemRoleId,jdbcType=INTEGER},
      system_menu_id = #{systemMenuId,jdbcType=INTEGER},
      first_create_by = #{firstCreateBy,jdbcType=INTEGER},
      first_create_date = #{firstCreateDate,jdbcType=TIMESTAMP},
      data_status = #{dataStatus,jdbcType=VARCHAR},
      data_divide_id = #{dataDivideId,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      last_update_by = #{lastUpdateBy,jdbcType=INTEGER},
      last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP}
    where relation_id = #{relationId,jdbcType=INTEGER}
  </update>
  
  <select id="selectWithRoleId" parameterType="java.lang.Integer" resultType="com.whcdit.family.model.SystemRoleRelation">
SELECT
	a.system_role_id AS systemRoleId,
	b.system_menu_id AS systemMenuId,
	b.system_menu_name AS systemMenuName,
	b.system_menu_type AS systemMenuType,
	b.system_menu_icon AS systemMenuIcon,
	b.system_menu_url AS systemMenuUrl,
	b.system_parent_id AS systemParentId,
	b.system_menu_close AS systemMenuClose,
	b.system_menu_desc AS systemMenuDesc,
	b.first_create_by AS firstCreateBy,
	b.first_create_date AS firstCreateDate,
	b.data_status AS dataStatus,
	b.data_divide_id AS dataDivideId,
	b.description AS description,
	b.last_update_by AS lastUpdateBy,
	b.last_update_date AS lastUpdateDate 
FROM
	system_role_relation a
	JOIN system_menu_info b ON a.system_menu_id = b.system_menu_id
WHERE a.system_role_id = #{rid,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteWithCondition" parameterType="com.whcdit.family.model.SystemRoleRelation">
    delete from system_role_relation
    where system_role_id = #{systemRoleId,jdbcType=INTEGER}
  </delete>
  
  
  
</mapper>